[user]
	email = mikael.lharidon@adfab.fr
	name = Mikael Lharidon
[core]
	excludesfile = /Users/mika/.gitignore_global
[push]
  default = current
[pull]
	default = current
[branch "master"]
  remote = origin
  merge = refs/heads/master
[branch "develop"]
  remote = origin
  merge = refs/heads/develop
[alias]
  co = checkout
  ci = commit
[merge]
  tool = sublimerge
[mergetool "sublimerge"]
  cmd = subl -n --wait \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\" --command \"sublimerge_diff_views\"
  trustExitCode = false
